In [1]:
print("Hello World!")

Hello World!

In [2]:
# comment
# this is another comment
#here is one more
#the pound sign is the important thing

In [3]:
## this is also a comment
'''
    here is a
    multiline
    comment.
    this is usfull for
    large amounts of text.
'''

'\n    here is a\n    multiline\n    comment.\n    this is usfull for\n    large amounts of text.\n'

In [4]:
# the python 'print' statment

# for simple output
print ("Hello World")
print ("Here is somthing else to print")
print ("Here is somthing in 'quotes' and some numbers: 1234567")

Hello World
Here is somthing else to print
Here is somthing in 'quotes' and some numbers: 1234567

In [5]:
# a "string" is a bunch of alpanumberic data
print("This is a string.")

This is a string.

In [6]:
# a integer is a number not in quotes
print(12345)
print("12345")

12345
12345

In [7]:
# you can combined pices of data together
print("Hello World", 123)
print(123, "somewhere St.","Nova Scotia", 456)

Hello World 123
123 somewhere St. Nova Scotia 456

In [8]:
# specal caracters
print("Hello\nWorld!") #\n is a newline character

Hello
World!

In [10]:
# demonstrating different newline styles
print ("Sale Price:", 12345)
print ("Sales Price", end="")
print(12345)

Sale Price: 12345
Sales Price12345

In [12]:
# getting input from the user
user_input = input("Enter a number:")

Enter a number: 1234

In [13]:
# more about variables

# naming convention
# keep variable names as a discriptive as possible
# snake_case
# keep the length of the variable name to 1, 2, or three words (max)

#examples of good variable names
user_name = "Jhon Doe" # a string varible
cost = 123.45 # a decimal variable
small_number = 3 # an inteager variable
bianary_number = 1b10101010 # a hexadecimal intager
big_number = 1234567890 # huge intager

# examples of bad variable names
# my name = "John" # cant have specal in the veriable name
# 123 = 123 # can't use a number as a variable name
# :) = "smiley" # can't use special characters other than underscore
# aVariableName = "stuff" # this is a "camelCasing" and is used in other languages
# x = "Hello" # make variable names discriptive!

SyntaxError: invalid decimal literal (985908459.py, line 12)

In [15]:
# Create a script that creates three variables to hold the current day, month and year.
# Display the current date using those variables nicely formatted

print ("Enter The Date:")
user_input = input("Day: ")
user_input = input("Month: ")
user_input = input("year: ")

Enter The Date:

Day:  19
Month:  sept
year:  2025

In [16]:
# Create a script that creates three variables to hold the current day, month and year.
# Display the current date using those variables nicely formatted
# Anwcer
day = 19
month = "september"
year = "2025"
print(month, day , ",", year)
#using an f-string instead
print(f"{month} {day}, {year}")

september 19 , 2025
september 19, 2025

In [ ]:
# Create a script that Asks the user's first name and last name,
# Then have the script output their email adress in the format
# <first name>.<last name>@nscc.ca
print("What is your First Name?: ")
user_input = input("First Name")
print ("What is your Last Name?: ")
user_input = input (:"Last Name")

In [ ]:
# Create a script that Asks the user's first name and last name,
# Then have the script output their email adress in the format
# <first name>.<last name>@nscc.ca
first_name = input("Enter your first name:")
Last_name = input ("Enter your last name:")
print(f"{first_name}.{last_name}@nscc.ca")

In [4]:
# more about strings

# define a string
text = "Hello World"

# concatenation of strings
"concatenate" + "strings"

text = "Hello " + "World"
text = text + "!"
text += "!"
print (text)

Hello World!!

In [7]:
# combine strings and numbers
#address = 5685 + " Leeds St" #ERROR! Can't add a number to a string
address = "5685" + " Leeds St"
adress = str(5685) + " Leeds St"
adress = f"{5685} Leeds St"
print(address)

5685 Leeds St

In [9]:
# combine strings and decimals
price_amount = 123.45
price_string = "price: " + str(price_amount)
print(price_string)

price: 123.45

In [13]:
# combine strings and calculations
answer = "Sum = " + str(1) + str(2)
answer = "Sum = " + str(1 + 2)
answer = f"Sum = {1 +2 }"
print(answer)

Sum = 3

In [17]:
# formatted strings
"{}, {}".format("Hello", "World")
"{0}, {1}".format("Hello", "World")
"{1}, {0}".format("Hello", "World")
"{} + {} = {}".format(1, 2, (1 + 2))
"{0} {0} {0} {1} {1} {1}".format("Hello", "World")

'Hello Hello Hello World World World'

In [19]:
# substrings
"cat dog mouse"[4:7] # range where [start:end+1]
text = "Mary had a little lamb"
text [18:22]

'lamb'

In [20]:
# replication operater
"-" * 30

'------------------------------'

In [25]:
# more on data types

# string
# - a string of letters and numbers
# - anything surrounded by double quotes
type("Hello World")

# integer
# - a whole number (no decimal points)
# - not in quotation marks
type(123)

# float
# - a number with a decimal point
# - all decimals can't be represented (e.g. Pi)
# - more represents an aprroximation than an actual number
12312312312312312312452345.234123411234412122313232133131323123113413
type(123.45)

#boolean
# - True or False
type(False)
type(True)

bool

In [28]:
# change data types
int("123") # success!
# int("123a") # error...

# convert to a string
str("123123.12123")
str(False)
str(123)
str(123.123)

# convert to/from a float
float("12.34")
float(123)
int(1.23)
# float ('asdsd") # error...

#convert to/from a boolean
bool("hello")
bool("")
bool(123)
bool(0)
bool(1.23)
bool(0.0)

False

In [31]:
# declaring a variable with a specific data type
answer = 123.45
type(answer)
awnser = int(123.45)
type(answer)

float

In [32]:
# getting inputt form the user of a partecular data type
user_input = input("Enter a number")
type(user_input)
user_number = int(user_imput)
type(user_number)
User_number

Enter a number 123

NameError: name 'user_imput' is not defined

In [35]:
# math.....
2 + 2
4 - 2
5 * 2
10 / 4 # decimal division
10 // 4 # intager division
10 % 4 # modulus division (remainder of a long division)
5 % 2
5 ** 2 # exponents
25 ** 0.5 # square root

5.0

In [37]:
# BEDMAS
(1 + 2) * 2
(1 + 2) * (3 - 4)
(1 + 2) ** 2 / 4 * 3 + 2 - 1

7.75

In [42]:
# assignment operators
a = 1 + 2
a = a + 1
a+= 1
a = a *2 
a *= 2
a = a / 2
a/= 2
print(a)

5.0

In [51]:
# math library
import math
math.pi
math.sqrt(25)
math.floor(5 / 2)
math.floor(12.2455)
math.ceil(12.3455)
math.floor(1.3)
math.ceil(1.3)
round(12.3455, 2)

12.35

In [52]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fma',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']